[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Compton
Comment=X11 compositor
Exec=/usr/bin/compton -b
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

